<article>
    <h1>{{ .Title }}</h1>
    <time>Posted on {{ .Date.Format "January 2, 2006" }}</time>
    <div class="news-content hidden">
        {{ $count := 0 }}
        {{ with .Resources.ByType "image" }}
        {{ range . }}
        {{ if eq ($count) 0 }}
        {{ $scaled := .Resize "1110x" }}
        <img src="{{ $scaled.RelPermalink }}" alt="{{ .Title }}">
        {{ $count = (add $count 1) }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ .Content }}
    </div>
    <button class="btn btn-primary read-more-button">Read More</button>
</article>
